<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
<head>
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ META }}
    <title>
    {% block title %} {% endblock %}
    </title>
    <link href="{T_STYLESHEET_LINK}" rel="stylesheet">
    <link href="{T_STYLESHEET_LANG_LINK}" rel="stylesheet">
    {$STYLESHEETS}
{% endblock head %}
</head>
<body>
{% block body %}
    Site body
{% endblock body %}
<details>
<summary>Debug info</summary>
{% block debug %}
Twig version: {{ constant('Twig_Environment::VERSION') }}<br>
Script name: {{ SCRIPT_NAME }}; Template name: {{ T_TEMPLATE_NAME }}<br>
Loops: 
<ul>
{% for l in loops|keys %}
    <strong>{{ l }}:</strong>
{% endfor %}
</ul>
{{ DEBUG_OUTPUT }}
{% endblock debug %}
</details>
</body>
</html>